# Gradle
.gradle/
build/
**/build/

# Local config
local.properties
*.iml

# Android Studio
.idea/
*.iws
*.ipr
captures/
.externalNativeBuild/
.cxx/

# Keystore
*.jks
*.keystore

# OS
.DS_Store
Thumbs.db
